{% load static %}

<style>

  .hello{
    font-size: 16px;
    color: #fff;
    margin-right: 15px;
  }

</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="{% url 'dashboard' %}"><img src="{% static 'images/logo.png' %}" id="logo" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account' %}">Settings</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
        
      </ul>

      <span class="hello" >Hello, {{request.user}} </span>
      <span><a class="btn btn-sm btn-outline-warning" href="{% url 'logout' %}">Logout</a></span>
    </div>
  </nav>