{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
<style>
    
</style>
<br>

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            
            <p> Are you sure you want to delete <span class="blockquote font-weight-bold">"{{order_item}}"</span>?</p>


            <form method="POST" action="{% url 'delete_order' order_item.id %}">
                {% csrf_token %}
                <a href="{% url 'dashboard' %}" class="btn btn-info btn-sm">Cancel</a>
                <button type="submit" value="Submit" class="btn btn-danger btn-sm">Confirm</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}